<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">To Do App</a>
      
      <div class="row pt-1">      
        <h4 class="mr-3 pt-1" style="color: white;"></h4>
            
        
        <!-- <form>           
          <button type="submit" class="action-button red">Logout</button>
        </form> -->
  
    <div class="container">
      <div class="row">
          <a href="/login" class="action-button green">Login</a>
          <a href="/register" class="action-button blue">Register</a>
      </div>
    </div>
  

    </div>
  </nav>
  <!-- <nav class="navbar navbar-expand-md navbar-dark" style="background: linear-gradient(to bottom, rgb(10, 66, 187), #345);">
    <h2>To Do App</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="container">
      <div class="row pt-1">

          <h4 class="mr-3 pt-1" style="color: white;"></h4>
          <form>
            <button type="submit" class="action-button red">Logout</button>
          </form>

          <div class="container">
            <div class="row">
                <a  class="action-button green">Login</a>
                <a class="action-button blue">Register</a>
            </div>
          </div>

      </div>
    </div>
  </nav> -->
</header>