<header>
  <nav class="navbar navbar-expand-md navbar-dark" style="background: linear-gradient(to bottom, rgb(10, 66, 187), #345);">
    <a class="navbar-brand" href="/urls">To Do App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="justify-content-end pr-3">
      <div class="row pt-1">

          <h4 class="mr-3 pt-1" style="color: white;"></h4>
          <form action="/logout" method="POST">
            <button type="submit" class="action-button red">Logout</button>
          </form>

          <div class="container">
            <div class="row">
                <a href="/login" class="action-button green">Login</a>
                <a href="/register" class="action-button blue">Register</a>
            </div>
          </div>

      </div>
    </div>
  </nav>
</header>