<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
    <title>Login</title>
  </head>
  <body>
    <%- include('partials/_header') %>

    <main class="my-form" style="margin: 1em;">
      <form class="form-group p-5" action="/login" method="POST">
        <div class="card w-50">
          <h3 class="card-header text-center">Login</h3>
          <div class="card-body">


            <div class="d-flex justify-content-around">
              <div class="mx-auto">
                  <label for="email">Email: </label>
                  <input class="form-group" type="email" name="email" placeholder="email@adrress.com">
              </div>
            </div>

            <div class="d-flex justify-content-around">
              <div class="mx-auto">
                <label for="password">Password: </label>
                <input class="form-group" type="password" name="password" placeholder="password">
              </div>
            </div>

            <div class="d-flex justify-content-center pt-3">
              <button type="submit" class="action-button blue">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </main>
